<!DOCTYPE html>

<head>
  <title>Upload Product</title>
</head>

<body>
  <h1>Product Upload</h1>
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <div>
      <label for="name">Product Name</label>
      <input type="text" placeholder="Product Name" name="name" required>
    </div>
    <div>
      <label for="desc">Product Description</label>
      <textarea name="desc" rows="3" placeholder="Description" required>
      </textarea>
    </div>
    <div>
      <label for="price">Product Price</label>
      <input type="number" placeholder="Product Price" name="price" required>
    </div>
    <div>
      <label for="image">Uplaod Image</label>
      <input type="file" name="image" required />

    </div>
    <div>
      <button type="submit">Submit </button>
      <button><a href="http://localhost:6001/">Cancel</a></button>
    </div>
  </form>
</body>

</html>